* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #23609d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  flex-basis: 150px;
}

.logo span {
  color: #007bff;
}

nav {
  flex: 1;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 5px 0;
}

.social-links {
  flex-basis: 100px;
  display: flex;
  justify-content: space-between;
}

.social-links img {
  height: 30px;
  width: 30px;
}